<!DOCTYPE html>
<html>
    <head>
        {% include 'partials/header.html' %}
    </head>
    <body>
        {% include 'partials/navbar.html' %}
        <div style="text-align: center;">
            <h2> <strong>Delete User</strong></h2>
            <form>
                
                <label for="uname">Username:</label> <br>
                <input type="text" id="uname" name="uname"><br>
                <label for="pwd">Password:</label><br>
                <input type="text" name="pwd" id="pwd"><br>
                <label for="uid">User ID:</label> <br>
                <input type="text" name="uid" id="uid"><br>

            </form>
  
       
        </div>
    </body>
</html>