<!DOCTYPE html>
<html>
    <head>
        {% include 'partials/header.html' %}
    </head>
    <body>
        {% include 'partials/navbar.html' %}
        <h2> <strong>Manage Group</strong></h2>
      
       
       
       
        <div style="text-align: center;">
            <h2> <strong>Create group</strong></h2>
            <form method="POST" action="">
                <h1> {% print(group)%} </h1>     


                <label for="name">Group name:</label> <br>
                <input type="text" id="uname" name="uname"><br>
                <label for="pwd">Password:</label><br>
                <input type="text" name="pwd" id="pwd"><br>
                
            </form>
            <h2> <strong>Add user in group</strong></h2>
            <form method="POST" action="">
                
                <label for="name">Group name:</label> <br>
                <input type="text" id="uname" name="uname"><br>
                <label for="pwd">Password:</label><br>
                <input type="text" name="pwd" id="pwd"><br>
                
            </form>
        </div>
    </body>
</html>