<!DOCTYPE html>
<html>
    <head>
        {% include 'partials/header.html' %}
    </head>
    <body>
        {% include 'partials/navbar.html' %}
        <div style="text-align: center;">
            <h2> <strong>Delete Grup</strong></h2>
            <form>
                <label for="uname">Grupname:</label> <br>
                <input type="text" id="uname" name="uname"><br>
                <input type="submit" value="DELETE">

            </form>
  
       
        </div>
    </body>
</html>