<!DOCTYPE html>
<html>
    <head>
        {% include 'partials/header.html' %}
    </head>
    <body>
        {% include 'partials/navbar.html' %}
       
            <h2> <strong>Update User</strong></h2>
            <div style="text-align: left;"></div>
            <h3> <strong>Info User</strong></h3>
            
            <form>
                
                <label for="uname">Name:</label> <br>
                <input type="text" id="name" name="name"><br>
                <label for="passwd">Password:</label> 
                <input type="checkbox"><br>
                <input type="submit" value="UPDATE">


            </form>
            </div>

  
       
       
    </body>
</html>